{% extends 'adminbase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
th{
    background-color: black;
    color: white;
}
</style>
	

<table align="center" border='1' style="margin-top: 50px;">
    <th>ALUMNI ID</th>
<th>NAME</th>
<th>ADDRESS</th>
<th>QUALIFICATION</th>
<th>EMAIL</th>
<th>YEAR OF PASSING</th>
<th> REGISTER NO</th>
<th>CONTACT</th>


{% for i in data %}
<tr><td>{{i.0}}</td>
<td>{{i.1}}</td>

<td>{{i.4}}</td>

<td>{{i.6}}</td>
<td>{{i.8}}</td>
<td>{{i.13}}</td>
<td>{{i.14}}</td>
<td>{{i.16}}</td>

</tr>
<br>


{% endfor %}
</table>
   </div>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}