<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Alumni Wall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Collegian a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="../static/css/examples.css" rel="stylesheet" type="text/css">
    <link href="../static/css/slider-pro.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../static/css/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" href="../static/css/owl.theme.css" type="text/css" media="all">
    <link href="../static/css/nav.css" rel='stylesheet' type='text/css' />
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
    <link href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
    <div id="example1" class="slider-pro">

        <div class="sp-slides">
            <div class="sp-slide">
                <img class="sp-image" src="../static/images/blank.gif" data-src="../static/images/banner1.jpg" alt=" " data-retina="../static/images/banner1.jpg" />

              

               
            </div>

            <div class="sp-slide">
                <img class="sp-image" src="../static/images/blank.gif" data-src="../static/images/banner2.jpg" alt=" " data-retina="../static/images/banner2.jpg" />

                

               
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="../static/images/blank.gif" data-src="../static/images/banner3.jpg" alt=" " data-retina="../static/images/banner3.jpg" />

               

               
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="../static/images/blank.gif" data-src="../static/images/banner4.jpg" alt=" " data-retina="../static/images/banner4.jpg" />

               

               
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="../static/images/blank.gif" data-src="../static/images/banner5.jpg" alt=" " data-retina="../static/images/banner5.jpg" />

               
               
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="../static/images/blank.gif" data-src="../static/images/banner3.jpg" alt=" " data-retina="../static/images/banner3.jpg" />

                

                
            </div>

        </div>

      
        <!--/nav-->
        <div class="top_nav">
            <h1>
                <a class="logo" href="/">Alumni</a>
            </h1>
           
            <div class="container-btn" id="btn">
                <div class="text">Menu</div>
                <div id="bars">
                    <div class="bar first"></div>
                    <div class="bar second"></div>
                    <div class="bar third"></div>
                </div>
            </div>


            <!-- top-overlay -->
            <div class="top-overlay fade-out" id="menu">
                <nav class="top-overlay-content" id="nav">
                    <span class="top-overlay-close" id="close-btn"> &times; </span>
                    <div class="container" id="container">
                        <div class="first-nav text-center">
                            <ul class="first-nav text-center">
                                <li><a href="/">Home</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/registration">Registrtion</a></li>
                        </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--//nav-->
        </div>
    </div>
    <!---->
 
  
 


<!-- copyright -->
<div class="copy_right_w3ls py-4 text-center">
    <p>© 2018 Collegian. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
	
</div>
<!-- //copyright -->


    

    <!-- js -->
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <!-- menu -->
    <script src="../static/js/index.js"></script>
    <script src="../static/js/modernizr.custom.js"></script>
    <!-- //menu -->
    <!--slider-->
    <script src="../static/js/jquery.sliderPro.min.js"></script>
    <script>
        $(document).ready(function ($) {
            $('#example1').sliderPro({
                width: 1980,
                height: 800,
                arrows: true,
                buttons: false,
                waitForLayers: true,
                thumbnailWidth: 270,
                thumbnailHeight: 100,
                thumbnailPointer: true,
                autoplay: false,
                autoScaleLayers: false,
                breakpoints: {
                    500: {
                        thumbnailWidth: 120,
                        thumbnailHeight: 50
                    }
                }
            });
        });
    </script>
    <!--//slider-->
    <!-- stats -->
		<script src="../static/js/jquery.waypoints.min.js"></script>
		<script src="../static/js/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
    <!-- //stats -->

    <!-- carousel -->
    <script src="../static/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    900: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <!-- //carousel -->
    <!-- //js -->
    <script src="../static/js/bootstrap.js"></script>
    <!--/ start-smoth-scrolling -->
    <script src="../static/js/move-top.js"></script>
    <script src="../static/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear' 
            						 };
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->
</body>

</html>